.projects_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  /* border: 1px solid white; */
  object-fit: contain;
}

.project_item {
  background: var(--coloor-bg-variant);
  padding: 1.4rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.project_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.project_item h3 {
  margin: 1.2rem 0 2rem;
}

.project__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .projects_container {
    display: grid;
    grid-template-columns:  1fr;
    gap: 1.2rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .projects_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    width: 90%;
    box-sizing: border-box;
  }
  .project_item{
    padding: 0.8rem;
  }
}
