nav{
    width:100vw;
    height: auto;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,0.65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    /* padding: 2rem; */
    /* border:1px solid blue; */
}


.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    /* border: 1px solid red; */
    /* background: rgba(0,0,0,0.35); */
    /* margin-bottom: 3rem; */
}

.nav__logo{
 width: 2.5rem;
 overflow: hidden;
}

.nav__menu{
    display: flex;
    gap:3.5rem;
    /* background: rgba(0,0,0,0.35); */
}

.modal{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    background: rgba(0,0,0,0.85);
}

.menu-btn{
    visibility: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    justify-content: space-between;
    right: 0;
    /* border: 1px solid white; */
}

.btn-hamburgur{
    position: relative;
    right: 0;
}


.content{
    background: rgba(0,0,0,0.85);
    /* color: black; */
    position: relative;
    top: 0;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    /* border: 1px solid red; */
}

@media screen and (max-width:1024px) {
    .nav__menu{
        display: none;
        /* border: 1px solid red; */
    }
    .menu-btn{
    visibility: visible;
    display: block;
    align-items: flex-end;
    /* border: 1px solid red; */
    /* width: 100vw; */
    }
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        /* padding: 2rem 1.5rem 2rem; */
        /* border:1px solid white; */
        margin: auto;
    }
}

/* .modal {
    background: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */



.footer{
    /* background: rgba(0,0,0,0.8); */
    display: flex;
    position: relative;
    right: 5;
}

.close-icon{
    width: 2.5rem;
}

@media screen and (max-width:600px)  {
    .nav__menu{
        display: none;
    }
    .menu-btn{
        visibility: visible;
    }
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}











/* nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0,0,0,0.4);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
} */

/* .hamburger{
    display: block;
    width: 2rem;
    cursor: pointer;
    /* height: 2rem; */
    /* justify-content: right; */
    /* appearance: none;
    background: none;
    outline: none;
    border: none;
    position: relative; */
/* } */ 

/* .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: var(--transition);
    border: 2px solid #fff;
}

.menu-btn__burger{
    width:50px ;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: var(--transition);
}   

.menu-btn__burger::before,.menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: #fff;
    transition: var(--transition);
}

.menu-btn__burger::before{
    transform: translateY(-16px);
}

.menu-btn__burger::after{
    transform:translateY(16px) ;
} */